body {
  background-image: url(https://lh3.googleusercontent.com/proxy/sZ0anS5RqRk1TGrNCSkGD76DwVZIsdF_eR7VS4PIzSWNejj_HSMHNgTGQ3zuiKnwfOjZsfctBNrvegbpjg2EjPADCaNrh6RBravqD1VJjeTbXPgK1J-29pF7UlyynRfWSYlwHzOdTcgrOHnxkr_yOBiZ4RhrzE5LTQ0);
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  justify-content: flex-start;
  width: 330px;
}

img {
  align-self: center;
  width: 80px;
}