section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.red {
  background-color: red;
  width: 50px;
  flex-grow: 2;
}

.blue {
  background-color: blue;
  width: 50px;
  flex-grow: 3;
}