div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  line-height: 50px;
  margin: 0;
  text-align: center;
}

.first {
  background-color: #ff0000;
  width: 100px;
}

.second {
  background-color: #ffa500;
  width: 200px;
}

.third {
  background-color: #ffff00;
  order: 1;
  width: 300px;
}

.fourth {
  background-color: #008000;
  order: 2;
  width: 400px;
}

.fifth {
  background-color: #0000ff;
  order: 3;
  width: 500px;
}

.sixth {
  background-color: #4b0082;
  order: 4;
  width: 600px;

}

.seventh {
  background-color: #ee82ee;
  order: 5;
  width: 700px;
}